@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "LibreBaskerville";
  src: url("/fonts/LibreBaskerville-Regular.ttf");
}

@font-face {
  font-family: "ARK-ES-DenseRegular";
  src: url("/fonts/ARK-ES-DenseRegular.woff") format("woff");
}

@font-face {
  font-family: "fugue_headline";
  src: url("/fonts/fugue_headline.otf");
}


/* fonts */

.LibreBaskerville{
  font-family:'LibreBaskerville'
}

.arkm{
  font-family:'ARK-ES-DenseRegular'
}

.fugue{
  font-family:'fugue_headline'
}



/* page index */
.srollbar-none{
  scrollbar-width: none;
}

.height-control{
  height: 94vh;
}



/* page bizarre bazar */
.carousel-control-next {
  filter: invert(100%);
}
.carousel-control-prev {
  filter: invert(100%);
}
.carousel-control-prev-icon {
  width: 32px;
  height: 32px;
  opacity: 0;
}
.carousel-control-next-icon {
  width: 32px;
  height: 32px;
  opacity: 10;
}


.tailleImage{
  height:500px;
  width :450px
}

.taillecontainer{
  height:700px;
  width :500px
}

.bgColor{
 background-color: #f6f036
}