@tailwind base;
@tailwind components;
@tailwind utilities;




@font-face {
  font-family: "LibreBaskerville";
  src: url("/fonts/LibreBaskerville-Regular.ttf");
}

@font-face {
  font-family: "ARK-ES-DenseRegular";
  src: url("/fonts/ARK-ES-DenseRegular.woff") format("woff");
}

@font-face {
  font-family: "fugue_headline";
  src: url("/fonts/fugue_headline.otf");
}

.LibreBaskerville{
  font-family:'LibreBaskerville'
}

.arkm{
  font-family:'ARK-ES-DenseRegular'
}

.fugue{
  font-family:'fugue_headline'
}




.srollbar-none{
  scrollbar-width: none;
}

.height-control{
  height: 94vh;
}

